#checkId($entity)
Ext.define('${PROJECT_NAME}.model.gen.${entity.name}Gen', {
    extend: 'Ext.data.Model',
    fields: [
#foreach( $attribute in $entity.nonKeyAttributes )
#set($jsType = ${attribute.neutralType})
#if($jsType == 'binary')
    #set($jsType = 'auto')
#end
#if(${attribute.isNumberType()})
    #set($jsType = 'int')
#end
        {
            name: '${attribute.name}',
            type: '${jsType}'
        },
#end
#if(${entity.keyAttributesCount} == 1)
        {
            name: '${entity.keyAttribute.name}',
            type: 'int'
        }
#else
        {
            name: 'id${entity.name}',
            type: 'int'
        }
    #foreach($field in ${entity.keyAttributes})
        ,
        {
            name: '${field.name}',
            type: 'id${field.name}'
        }
    #end
#end
    ],
#if(${entity.keyAttributesCount} == 1)
    idProperty: '${entity.keyAttribute.name}'
#else
    idProperty: 'id${entity.name}'
#end
});
