#checkId($entity)
#set($dollar = '$')
Ext.define('${PROJECT_NAME}.store.gen.${entity.name}Gen', {
    extend: '${PROJECT_NAME}.store.base.BaseStore',
    model: '${PROJECT_NAME}.model.${entity.name}',
    urlApiPath: '/${fn.toLowerCase(${entity.name})}s',
    apiRootProperty: '${fn.toLowerCase(${entity.name})}s',
    transformWriterM2OFields: function (data) {
#foreach( $field in $entity.nonKeyAttributes )
#if($field.isFK() && ${field.referencedEntity.keyAttributesCount} == 1)
        data.${fn.uncapitalize(${field.referencedEntity.name})} = `/${fn.toLowerCase("${field.referencedEntity.name}")}s/${dollar}{data.${field.referencedEntity.keyAttribute.name}}`;
#end
#end
        return data;
    }
});