#checkId($entity)
Ext.define('${PROJECT_NAME}.view.grid.gen.${entity.name}Gen', {
    extend: '${PROJECT_NAME}.view.grid.base.BaseGrid',
    requires: ['${PROJECT_NAME}.store.${entity.name}'],
    title: '${entity.name}s',
    columns: [
#foreach( $attribute in $entity.nonKeyAttributes )
        {
            text: '${attribute.label}',
            dataIndex: '${attribute.name}',
            editor: 'textfield'
        },
#end
#if(${entity.keyAttributesCount} == 1)
        {
            dataIndex: '${entity.keyAttribute.name}',
            text: 'id'
        }
#else
        {
            dataIndex: 'id${entity.name}',
            text: 'id'
        }
    #foreach($field in ${entity.keyAttributes})
        ,
        {
            dataIndex: '${field.name}',
            text: 'id${field.name}'
        }
    #end
#end
    ],
    store: {
        type: '${fn.toLowerCase(${entity.name})}'
    }
});
## https://stackoverflow.com/questions/32315463/extjs-add-item-to-extended-class